<div class="collapse" id="collapseExample">
  <div class="card card-body" style="background: transparent;border:none;padding: 1%;">
    <div class="card" style="width: 100%;background: transparent;">
	  <div class="card-body" style="background: transparent;">
	    <h5 class="card-title"><a href="#0">Ram Suthar</a></h5>
	    <p class="card-subtitle mb-2 text-muted " style="font-size: 1.5vh;">Published on 21 feb 2019</p>
	    <p class="card-text">Thanxx john it helped alot</p>
	  </div>
	</div>
  </div>
</div>