
<footer class="container-fluid ">
	<div class="row foot">
		<div class="col-md-4 footer_content">
			<h4 class="heading">Disclaimer</h4>
			<p class="heading" id="ps">
				{{ disclaimer }}
			</p>
		</div>
		<div class="col-md-4 footer_content">
			<h4 class="heading">Contact Us</h4>
			<p class="heading" id="ps">
				For any query contact us on:<br><br>
				<a href="mailto:{{ email }}"><span class="fa fa-envelope icon"></span>{{ email }}</a><br/>	
			</p>
			<p class="heading" id="ps" style="padding-top: 0%; margin-top: -2%;">
				<a href="tel:{{ phone }}"><span class="fa fa-phone icon"></span>{{ phone }}</a>
			</p>
			<p class="heading" id="ps">
				Also Follow us on:<br><br>
				<span class="fab fa-facebook-f social_icons"></span><span class="fab fa-twitter social_icons"></span></span><span class="fab fa-google-plus-g social_icons"></span><span class="fab fa-instagram social_icons">
			</p>
		</div>
		<div class="col-md-4 footer_content">
			<h4 class="heading">Terms & Policies</h4>
			<p class="heading" id="ps">
				{{ terms }}
			</p>
		</div>
		
	</div>
</footer>
