<section>
<div class="navbar navbar-expand-lg navbar-dark nbb" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
    <ul class="navbar-nav mr-auto nb pointer" id="pointer" style="padding-left: %;">
        <a class="navbar-brand" href="/home" style="font-family: 'Teko', sans-serif; font-size: 4.5vh;">रहस्य</a>
        
      <li class="nav-item">
        <a class="nav-link" href="/home"><i class="fas fa-home" style="padding-right: 1vh;"></i>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/about"><i class="fas fa-info" style="padding-right: 1vh;"></i>About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/news"><i class="far fa-newspaper" style="padding-right: 1vh;"></i>Latest news</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/forum"><i class="fas fa-people-carry" style="padding-right: 1vh;"></i>Forum</a>
      </li>
      
      <li class="nav-item">
          <a class="nav-link" href="/laws"><i class="fas fa-gavel" style="padding-right: 1vh;"></i>Important Laws</a>
        </li>
    </ul>
    <div class="search-box">
      <input class="search-txt" type="search" placeholder="Search" aria-label="Search">
      <a class="search-btn" href="#"><i class="fas fa-search" style="color:white; font-size: 2.5vh; "></i></a>
    </div>
  </div>
</div>
</section>