<script>
		('a').addEventListener('click', function() {document.querySelector('.smalldesc').classList.toggle('expand');});
	</script>
<div class="question_box border border-secondary">
		<div class="row">
				<a href="#" class="h4 text-dark " data-toggle="modal" data-target="#answer_pop" style="font-family: 'Crimson Text', serif;">What are your expectations from MIT ADT University?</a>
				<div class="modal fade" id="answer_pop" tabindex="-1" role="dialog" aria-labelledby="answer_pop_label" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="width: 300vh;height:300vh;">
              <div class="modal-content" >
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top:-1.5%;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class=" ch31">What are your expectations from MIT ADT University?</h3>
                    <div class="col-md-10 butns">
                        <button class="btn btn-light " style="width:15%;margin-right:1%; height: 5vh; padding-top:-2%; background-color: white; border:none;"><i style="padding-right: 9%; font-size: 2.5vh;" class="fas fa-pen-nib"></i>Answer</button>
                        <button class="btn btn-light " style="width:15%;margin-right:1%; height: 5vh; padding-top:-2%; background-color: white; border:none;"><i style="padding-right: 9%; font-size: 2.5vh;" class="fas fa-running"></i>Skip</button>
                        <button class="btn btn-light " style="width:15%;margin-right:1%; height: 5vh; padding-top:-2%; background-color: white; border:none;"><i style="padding-right: 9%; font-size: 2.5vh;" class="fas fa-plus"></i>Follow</button>
                        <button class="btn btn-light " style="width:15%;margin-right:1%; height: 5vh; padding-top:-2%; background-color: white; border:none;"><i style="padding-right: 9%; font-size: 2.5vh;" class="fas fa-exclamation-triangle"></i>Report</button>
                        <button class="btn btn-light " style="width:15%;margin-right:1%; height: 5vh; padding-top:-2%; background-color: white; border:none;"><i style="padding-right: 9%; font-size: 2.5vh;" class="fas fa-share-alt"></i>Share</button>
                    </div>
                    <div class="card">
                            <div class="card-body" >
                                    <div class="row" style="padding-top:1%;">
                                        <div class="col-md-1">
                                            <i class="fas fa-user-circle "style="font-size:6vh;	"></i>
                                        </div>
                                        <div class="col-md-10">
                                            <p class="usr_size"><a href="#" class="h6 text-dark">User's name</a><p class="text-muted usr_details">MIT school of engineering <span class="text-muted usr_detail1"> | 2 JUN 2019</span></p></p>
                                        </div>
                                        
                                        <div class="row " style="padding: 2%; padding-left:4%;padding-right:4%;">
                                            <p for="expend" class="lead usr_size" style="text-align: justify;">
                                                    My school computer administrators installed an extension on our chromebooks. GoGuardian. *cue ominous music*
                                                    Before this horrible event, the only thing blocking us from .io and buzzfeed, etc. was chrominium m. There’s a neat little trick you can do there- at chrome://inspect, chrominium m had an inspect option. Type in window.close() into the console, and the entire extension would shut down. FREEDOM!
                                                    Until I restarted my chromebook one day. It updated… And I couldn’t do this trick anymore. WHY? JUST WHY?
                                                    I did a little investigation on GoGuardian. Tailor-made to torture students with chromebooks. I tried finding out a way to get into the school administrators’ accounts. No luck. chrome://extensions? Nope. It was force-installed with no way (that I know of) of deleting it.
                                                    Now, during lessons I realised that students would go to boredbutton.com, which is somehow not blocked. And in bored button, you could play games (that are usually blocked) within the bored button frame. So I went to inspect the HTML code.
                                                    My school computer administrators installed an extension on our chromebooks. GoGuardian. *cue ominous music*
                                                    Before this horrible event, the only thing blocking us from .io and buzzfeed, etc. was chrominium m. There’s a neat little trick you can do there- at chrome://inspect, chrominium m had an inspect option. Type in window.close() into the console, and the entire extension would shut down. FREEDOM!
                                                    Until I restarted my chromebook one day. It updated… And I couldn’t do this trick anymore. WHY? JUST WHY?
                                                    I did a little investigation on GoGuardian. Tailor-made to torture students with chromebooks. I tried finding out a way to get into the school administrators’ accounts. No luck. chrome://extensions? Nope. It was force-installed with no way (that I know of) of deleting it.
                                                    Now, during lessons I realised that students would go to boredbutton.com, which is somehow not blocked. And in bored button, you could play games (that are usually blocked) within the bored button frame. So I went to inspect the HTML code.
                                                
                                            </p>
                                        </div>
                                    </div>
                            <div class="card-footer text-muted">
                                <a href="#" style="margin-right: 3%;"><i class="fas fa-thumbs-up" style="padding-right: 2%;"></i>Like</a>
                                <a data-toggle="collapse" href="#cmnt" role="button" aria-expanded="false" aria-controls="cmnt" style="margin-right: 3%;"><i class="fas fa-comment-alt" style="padding-right: 2%;"></i>Comment</a>
                                <a href="#" style="margin-right: 3%;"><i class="fas fa-thumbs-down" style="padding-right: 2%;"></i>Dislike</a>
                                <div class=" row input-group mb-3" style="padding-top: 1%; padding-left:3%;">
                                    <i class="fas fa-user" style="font-size:3vh; margin-right:2%;margin-top:1%;"></i><input type="text" class="form-control" placeholder="Enter your comment" aria-label="comments" aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" type="button">Comment</button>
                                    </div>
                                </div>
                                <div class="collapse" id="cmnt">
                                    <div class="card card-body" style="background-color: transparent;">
                                        <div class="row" style="padding-top:1%;">
                                            <div class="col-md-1">
                                                <i class="fas fa-user-circle "style="font-size:6vh;	"></i>
                                            </div>
                                            <div class="col-md-10">
                                                <p class="usr_size"><a href="#" class="h6 text-dark">User's name</a><p class="text-muted usr_detail1">MIT school of engineering <span class="text-muted usr_detail1"> | 2 JUN 2019</span></p></p>
                                            </div>
                                        </div>
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                    </div>
                                </div>
                            </div>      
												</div>  
											</div>    
                </div>
            </div>
        </div>
    </div>
		</div>
		<div class="row" style="padding-top:1%;">
			<div class="col-md-1">
					<i class="fas fa-user-circle "style="font-size:6vh;	"></i>
			</div>
			<div class="col-md-10">
					<p class="usr_size"><a href="#" class="h6 text-dark">User's name</a><p class="lead text-muted usr_detail">MIT school of engineering</p></p>
			</div>
			<input type="checkbox" id="expend" />	
			<div class="row smalldesc" style="padding: 2%; padding-left:4%;padding-right:4%;">
					<label for="expend" class="lead usr_size" style="text-align: justify;">
							My school computer administrators installed an extension on our chromebooks. GoGuardian. *cue ominous music*
							Before this horrible event, the only thing blocking us from .io and buzzfeed, etc. was chrominium m. There’s a neat little trick you can do there- at chrome://inspect, chrominium m had an inspect option. Type in window.close() into the console, and the entire extension would shut down. FREEDOM!
							Until I restarted my chromebook one day. It updated… And I couldn’t do this trick anymore. WHY? JUST WHY?
							I did a little investigation on GoGuardian. Tailor-made to torture students with chromebooks. I tried finding out a way to get into the school administrators’ accounts. No luck. chrome://extensions? Nope. It was force-installed with no way (that I know of) of deleting it.
							Now, during lessons I realised that students would go to boredbutton.com, which is somehow not blocked. And in bored button, you could play games (that are usually blocked) within the bored button frame. So I went to inspect the HTML code.
							My school computer administrators installed an extension on our chromebooks. GoGuardian. *cue ominous music*
							Before this horrible event, the only thing blocking us from .io and buzzfeed, etc. was chrominium m. There’s a neat little trick you can do there- at chrome://inspect, chrominium m had an inspect option. Type in window.close() into the console, and the entire extension would shut down. FREEDOM!
							Until I restarted my chromebook one day. It updated… And I couldn’t do this trick anymore. WHY? JUST WHY?
							I did a little investigation on GoGuardian. Tailor-made to torture students with chromebooks. I tried finding out a way to get into the school administrators’ accounts. No luck. chrome://extensions? Nope. It was force-installed with no way (that I know of) of deleting it.
							Now, during lessons I realised that students would go to boredbutton.com, which is somehow not blocked. And in bored button, you could play games (that are usually blocked) within the bored button frame. So I went to inspect the HTML code.
							<div class="card-footer text-muted" style="padding-top:3%;">
								<a href="#" style="margin-right: 3%;"><i class="fas fa-thumbs-up" style="padding-right: 2%;"></i>Like</a>
									<a data-toggle="collapse" href="#cmnt" role="button" aria-expanded="false" aria-controls="cmnt" style="margin-right: 3%;"><i class="fas fa-comment-alt" style="padding-right: 2%;"></i>Comment</a>
									<a href="#" style="margin-right: 3%;"><i class="fas fa-thumbs-down" style="padding-right: 2%;"></i>Dislike</a>
									<a href="#" style="margin-right: 3%;"><i class="fas fa-share-alt" style="padding-right: 2%;"></i>Share</a>
									<div class=" row input-group mb-3" style="padding-top: 1%; padding-left:3%;">
													<i class="fas fa-user" style="font-size:3vh; margin-right:2%;margin-top:1%;"></i><input type="text" class="form-control" placeholder="Enter your comment" aria-label="comments" aria-describedby="basic-addon2">
													<div class="input-group-append">
															<button class="btn btn-outline-secondary" type="button">Comment</button>
													</div>
									</div>
									<div class="collapse" id="cmnt">
											<div class="card card-body" style="background-color: transparent;">
													<div class="row" style="padding-top:1%;">
															<div class="col-md-1">
																			<i class="fas fa-user-circle "style="font-size:5vh;	"></i>
															</div>
															<div class="col-md-10">
																			<p class="usr_size"><a href="#" class="h6 text-dark">User's name</a><p class="text-muted usr_detail1">MIT school of engineering <span class="text-muted usr_detail1"> | 2 JUN 2019</span></p></p>
															</div>
													</div>
													Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
											</div>
									</div>
							</div>	
						</label>
			</div>
		
		</div>
</div>
